In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

In [9]:
mainpath="/Users/Sebasti√°n/Desktop"
filename="Crypto/Binance_BTCUSDT_d.csv"
filename1="Crypto/Binance_BTTUSDT_d.csv"
filename2="Crypto/Binance_TRXUSDT_minute.csv"

fullpath = os.path.join(mainpath, filename)
fullpath1 = os.path.join(mainpath, filename1)
fullpath2 = os.path.join(mainpath, filename2)

In [10]:
BTC = pd.read_csv(fullpath)
BTT = pd.read_csv(fullpath1)
TRX = pd.read_csv(fullpath2)

In [14]:
BTC.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1.618013e+12,2021-04-10 00:00:00,BTC/USDT,58142.55,58193.27,58090.42,58124.65,122.294463,7.110238e+06,6421.0
1,1.617926e+12,2021-04-09 00:00:00,BTC/USDT,58077.52,58894.90,57654.00,58142.54,40831.884911,2.378341e+09,1615962.0
2,1.617840e+12,2021-04-08 00:00:00,BTC/USDT,55953.44,58153.31,55700.00,58077.52,44283.147019,2.531780e+09,1661080.0
3,1.617754e+12,2021-04-07 00:00:00,BTC/USDT,57990.03,58655.00,55473.00,55953.45,71228.405659,4.053294e+09,2206433.0
4,1.617667e+12,2021-04-06 00:00:00,BTC/USDT,59129.99,59495.24,57413.02,57991.15,54201.000727,3.166912e+09,1960513.0

In [15]:
BTT.head()

,unix,date,symbol,open,high,low,close,Volume BTT,Volume USDT,tradecount
0,1618012800000,2021-04-10 00:00:00,BTT/USDT,0.009106,0.009124,0.009004,0.009011,1.177385e+08,1.067448e+06,1742
1,1617926400000,2021-04-09 00:00:00,BTT/USDT,0.009665,0.009965,0.008779,0.009107,4.812102e+10,4.461001e+08,775567
2,1617840000000,2021-04-08 00:00:00,BTT/USDT,0.007930,0.009869,0.007834,0.009656,8.719417e+10,7.891451e+08,1335045
3,1617753600000,2021-04-07 00:00:00,BTT/USDT,0.009742,0.010250,0.007471,0.007931,1.077384e+11,9.057716e+08,1480876
4,1617667200000,2021-04-06 00:00:00,BTT/USDT,0.010170,0.011386,0.008167,0.009731,1.446195e+11,1.399785e+09,2111191

In [28]:
TRX.head()

,unix,date,symbol,open,high,low,close,Volume TRX,Volume USDT,tradecount
0,1618014960000,2021-04-10 00:36:00,TRX/USDT,0.11331,0.11346,0.11324,0.11325,1100686.4,124743.341611,227
1,1618014900000,2021-04-10 00:35:00,TRX/USDT,0.11324,0.11346,0.11323,0.11331,2053695.6,232803.340584,275
2,1618014840000,2021-04-10 00:34:00,TRX/USDT,0.11333,0.11358,0.11316,0.11323,2667320.5,302325.462612,501
3,1618014780000,2021-04-10 00:33:00,TRX/USDT,0.11341,0.11350,0.11326,0.11329,2622912.7,297309.296407,441
4,1618014720000,2021-04-10 00:32:00,TRX/USDT,0.11369,0.11369,0.11330,0.11337,2615809.1,296931.712825,594

In [29]:
type(TRX['date'][1])

pandas._libs.tslibs.timestamps.Timestamp

In [24]:
BTC['date'] = pd.to_datetime(BTC['date'])
BTT['date'] = pd.to_datetime(BTT['date'])
TRX['date'] = pd.to_datetime(TRX['date'])

In [25]:
type(BTC['date'][1])

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
BTC.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1.618013e+12,2021-04-10,BTC/USDT,58142.55,58193.27,58090.42,58124.65,122.294463,7.110238e+06,6421.0
1,1.617926e+12,2021-04-09,BTC/USDT,58077.52,58894.90,57654.00,58142.54,40831.884911,2.378341e+09,1615962.0
2,1.617840e+12,2021-04-08,BTC/USDT,55953.44,58153.31,55700.00,58077.52,44283.147019,2.531780e+09,1661080.0
3,1.617754e+12,2021-04-07,BTC/USDT,57990.03,58655.00,55473.00,55953.45,71228.405659,4.053294e+09,2206433.0
4,1.617667e+12,2021-04-06,BTC/USDT,59129.99,59495.24,57413.02,57991.15,54201.000727,3.166912e+09,1960513.0

In [27]:
BTT.head()

,unix,date,symbol,open,high,low,close,Volume BTT,Volume USDT,tradecount
0,1618012800000,2021-04-10,BTT/USDT,0.009106,0.009124,0.009004,0.009011,1.177385e+08,1.067448e+06,1742
1,1617926400000,2021-04-09,BTT/USDT,0.009665,0.009965,0.008779,0.009107,4.812102e+10,4.461001e+08,775567
2,1617840000000,2021-04-08,BTT/USDT,0.007930,0.009869,0.007834,0.009656,8.719417e+10,7.891451e+08,1335045
3,1617753600000,2021-04-07,BTT/USDT,0.009742,0.010250,0.007471,0.007931,1.077384e+11,9.057716e+08,1480876
4,1617667200000,2021-04-06,BTT/USDT,0.010170,0.011386,0.008167,0.009731,1.446195e+11,1.399785e+09,2111191

In [30]:
BTC.tail()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
1329,1.503274e+09,2017-08-21,BTC/USDT,4086.29,4119.62,3911.79,4016.00,685.12,2770592.06,NaN
1330,1.503187e+09,2017-08-20,BTC/USDT,4139.98,4211.08,4032.62,4086.29,463.54,1915636.35,NaN
1331,1.503101e+09,2017-08-19,BTC/USDT,4108.37,4184.69,3850.00,4139.98,371.15,1508239.39,NaN
1332,1.503014e+09,2017-08-18,BTC/USDT,4285.08,4371.52,3938.77,4108.37,1178.07,4994493.56,NaN
1333,1.502928e+09,2017-08-17,BTC/USDT,4469.93,4485.39,4200.74,4285.08,647.86,2812379.11,NaN

In [31]:
BTT.tail()

,unix,date,symbol,open,high,low,close,Volume BTT,Volume USDT,tradecount
796,1549238400000,2019-02-04,BTT/USDT,0.000614,0.000954,0.000611,0.000866,-4.090310e+10,1.102778e+08,212350
797,1549152000000,2019-02-03,BTT/USDT,0.000429,0.000627,0.000424,0.000613,5.949803e+10,3.206922e+07,68162
798,1549065600000,2019-02-02,BTT/USDT,0.000469,0.000480,0.000417,0.000430,1.553954e+10,6.808953e+06,19658
799,1548979200000,2019-02-01,BTT/USDT,0.000477,0.000507,0.000443,0.000469,2.904672e+10,1.379485e+07,37200
800,1548892800000,2019-01-31,BTT/USDT,0.000400,0.000600,0.000320,0.000476,-6.159694e+10,6.215433e+07,81569

In [35]:
TRX.tail(202)

,unix,date,symbol,open,high,low,close,Volume TRX,Volume USDT,tradecount
301915,1599868860000,2020-09-12 00:01:00,TRX/USDT,0.03348,0.03354,0.03348,0.03349,106764.0,3578.444898,36
301916,1599868800000,2020-09-12 00:00:00,TRX/USDT,0.03350,0.03353,0.03347,0.03351,938722.9,31450.313906,104
301917,1599868740000,2020-09-11 23:59:00,TRX/USDT,0.03350,0.03353,0.03348,0.03350,452061.9,15142.993611,57
301918,1599868680000,2020-09-11 23:58:00,TRX/USDT,0.03349,0.03350,0.03348,0.03348,140291.3,4697.757825,20
301919,1599868620000,2020-09-11 23:57:00,TRX/USDT,0.03349,0.03351,0.03348,0.03351,287878.0,9641.274641,35
...,...,...,...,...,...,...,...,...,...,...
302112,1599857040000,2020-09-11 20:44:00,TRX/USDT,0.03378,0.03380,0.03378,0.03378,16875.5,570.068230,3
302113,1599856980000,2020-09-11 20:43:00,TRX/USDT,0.03379,0.03380,0.03377,0.03380,197470.2,6673.415159,19
302114,1599856920000,2020-09-11 20:42:00,TRX/USDT,0.03378,0.03379,0.03377,0.03377,11132.4,376.125198,5
302115,1599856860000,2020-09-11 20:41:00,TRX/USDT,0.03376,0.03378,0.03375,0.03377,663671.4,22410.623571,48
302116,1599856800000,2020-09-11 20:40:00,TRX/USDT,0.03372,0.03375,0.03368,0.03373,514452.1,17344.446761,35

In [36]:
TRX_fil = TRX[TRX['date'] >= '2020-09-12 00:00:00']

In [37]:
TRX_fil.head()

,unix,date,symbol,open,high,low,close,Volume TRX,Volume USDT,tradecount
0,1618014960000,2021-04-10 00:36:00,TRX/USDT,0.11331,0.11346,0.11324,0.11325,1100686.4,124743.341611,227
1,1618014900000,2021-04-10 00:35:00,TRX/USDT,0.11324,0.11346,0.11323,0.11331,2053695.6,232803.340584,275
2,1618014840000,2021-04-10 00:34:00,TRX/USDT,0.11333,0.11358,0.11316,0.11323,2667320.5,302325.462612,501
3,1618014780000,2021-04-10 00:33:00,TRX/USDT,0.11341,0.11350,0.11326,0.11329,2622912.7,297309.296407,441
4,1618014720000,2021-04-10 00:32:00,TRX/USDT,0.11369,0.11369,0.11330,0.11337,2615809.1,296931.712825,594

In [38]:
TRX_fil.tail()

,unix,date,symbol,open,high,low,close,Volume TRX,Volume USDT,tradecount
301912,1599869040000,2020-09-12 00:04:00,TRX/USDT,0.03350,0.03350,0.03342,0.03345,589059.7,19700.846319,62
301913,1599868980000,2020-09-12 00:03:00,TRX/USDT,0.03356,0.03356,0.03345,0.03354,1341377.1,44944.334383,102
301914,1599868920000,2020-09-12 00:02:00,TRX/USDT,0.03349,0.03357,0.03349,0.03356,256502.2,8605.023389,60
301915,1599868860000,2020-09-12 00:01:00,TRX/USDT,0.03348,0.03354,0.03348,0.03349,106764.0,3578.444898,36
301916,1599868800000,2020-09-12 00:00:00,TRX/USDT,0.03350,0.03353,0.03347,0.03351,938722.9,31450.313906,104

In [40]:
BTC_fil = BTC[BTC['date'] >= '2020-09-12 00:00:00']

In [ ]:
BTC_fil = BTC[BTC['date'] >= '2020-09-12 00:00:00']